<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserCollection</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <script src="static/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container w-50 ">
 <h1>User Profile</h1>
 <hr class="text-primary">
 <p>
     Click <a href="http://localhost:8000/user">here</a> to create user profile
 </p>
 <div>
  <h4>Name : Deepak Singh</h4>
  <h4>Email : deepakSingh190810@gmail.com</h4>
  <h4>Mobile No. : 7275389264</h4>
  <h4>Linkdin Profile: <a href="http://linkedin.com/in/1908Deepak">here</a></h4>
  <h4>Github Profile: <a href="http://github.com/1908Deepak">here</a></h4>
  <h4>Work Demo <a href="
    https://drive.google.com/file/d/1KoAihq_0_wkei8IFUJueidCMt2oYqlj3/view?usp=drivesdk">here</a> </h4>
 </div>
</body>
</html>