<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>
<div class="container w-50">
<div class="card text-left" style="width: 32rem;align:center;">
    <div class="card-body">
      <div class="card-header">
        <h1> Create a new user </h1>
      </div>
        <form action="http://localhost:8000/create" method="post">
                <div class="mb-3">
                      <label for="userId" class="form-label">User Id</label>
                      <input type="text" class="form-control"   id="userId" name="userId">
                </div>
                 <div class="mb-3">
                      <label for="userName" class="form-label">User Name</label>
                      <input type="text" class="form-control" id="userName"  name="userName" placeholder="user name">
                </div>
                 <div class="mb-3">
                    <label for="userImage" class="form-label">User Image</label>
                    <input type="file" class="form-control" id="userImage"  name="userImage" placeholder="user Image">
                </div>
                <div class="mb-3">
                  <label for="userEmail" class="form-label">User Email</label>
                  <input type="text" class="form-control" id="userEmail"  name="userEmail" placeholder="user Email">
               </div>
               <div class="mb-3">
                 <label for="userPassword" class="form-label">User Password</label>
                 <input type="text" class="form-control" id="userPassword"  name="userPassword" placeholder="user Password">
               </div>
               <div class="mb-3">
                 <label for="userMobile" class="form-label">User Mobile</label>
                 <input type="text" class="form-control" id="userMobile"  name="userMobile" placeholder="user Mobile">
               </div>
                <div class="mb-3">
                    <label for="userDescription" class="form-label">User Description</label>
                    <textarea class="form-control" id="userDescription"  name="userDescription"  rows="3" placeholder="user description"></textarea>
                </div>

                <input type="submit" class="btn btn-primary"> &nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" class="btn btn-danger">
           </form>
        </div>
    </div>
</div>

</body>
</html>