<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>
<div class="container w-50">
    <h1>{{ user.user_name }} details</h1>
    <hr width="55%"/>
    <div class="card" style="width: 28rem;">
        <img src="/static/images/{{user.user_image}}" class="card-img-top" alt="user_image">
      <div class="card-body">
        <h5 class="card-title">{{user.user_name}}</h5>
          <hr>
        <p class="card-text">{{user.user_email}}</p>
        <p class="card-text">{{user.user_password}}</p>
        <p class="card-text">{{user.user_mobile}}</p>
        <p class="card-text">{{user.user_description}}</p>
       </div>
    </div>
</div>

</body>
</html>